/* component style */
.vue-slider-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* rail style */
.vue-slider-rail {
  background-color: #ccc;
  border-radius: 15px;
}

/* process style */
.vue-slider-process {
  background-color: #3498db;
  border-radius: 15px;
}

/* mark style */
.vue-slider-mark {
  z-index: 4;
}
.vue-slider-mark:first-child .vue-slider-mark-step, .vue-slider-mark:last-child .vue-slider-mark-step {
  display: none;
}
.vue-slider-mark-step {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.16);
}
.vue-slider-mark-label {
  font-size: 14px;
  white-space: nowrap;
}
/* dot style */
.vue-slider-dot-handle {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0.5px 0.5px 2px 1px rgba(0, 0, 0, 0.32);
}
.vue-slider-dot-handle-focus {
  box-shadow: 0px 0px 1px 2px rgba(52, 152, 219, 0.36);
}

.vue-slider-dot-handle-disabled {
  cursor: not-allowed;
  background-color: #ccc;
}

.vue-slider-dot-tooltip-inner {
  font-size: 14px;
  white-space: nowrap;
  padding: 2px 5px;
  min-width: 20px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  border-color: #3498db;
  background-color: #3498db;
  box-sizing: content-box;
}
.vue-slider-dot-tooltip-inner::after {
  content: "";
  position: absolute;
}
.vue-slider-dot-tooltip-inner-top::after {
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-top-color: inherit;
}
.vue-slider-dot-tooltip-inner-bottom::after {
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-bottom-color: inherit;
}
.vue-slider-dot-tooltip-inner-left::after {
  left: 100%;
  top: 50%;
  transform: translate(0, -50%);
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-left-color: inherit;
}
.vue-slider-dot-tooltip-inner-right::after {
  right: 100%;
  top: 50%;
  transform: translate(0, -50%);
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-right-color: inherit;
}

.vue-slider-dot-tooltip-wrapper {
  opacity: 0;
  transition: all 0.3s;
}
.vue-slider-dot-tooltip-wrapper-show {
  opacity: 1;
}


.btn {
	cursor: pointer;
}
.ipcYear {
	background: #f1f1f1;
	padding: 20px 20px 10px 10px;
	border-radius: 10px;
}
.ipcYear ul li {
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;
}
.ipcYear ul li .btn {
	font-size: 14px;
}
.ipcYear ul li .checkbox-out .checkbox {
	cursor: pointer;
	background-position: 0px 2px;
	height: 23px;
}
.ipcYear ul li .i-download {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top: -3px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDcuMS1jMDAwIDc5LmRhYmFjYmIsIDIwMjEvMDQvMTQtMDA6Mzk6NDQgICAgICAgICI+IDxyZGY6UkRGIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyI+IDxyZGY6RGVzY3JpcHRpb24gcmRmOmFib3V0PSIiIHhtbG5zOnhtcD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLyIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bXA6Q3JlYXRvclRvb2w9IkFkb2JlIFBob3Rvc2hvcCAyMy4wIChXaW5kb3dzKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo1RDkyN0Q4OTUyNDAxMUVDQjExREEwRTAwQzk2OTc3QiIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo1RDkyN0Q4QTUyNDAxMUVDQjExREEwRTAwQzk2OTc3QiI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjVEOTI3RDg3NTI0MDExRUNCMTFEQTBFMDBDOTY5NzdCIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjVEOTI3RDg4NTI0MDExRUNCMTFEQTBFMDBDOTY5NzdCIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+NddhyQAAALpJREFUeNpi/P//PwMeUAulm3EpYGHAD4QJyDMwMVAIRg3ANEAMiLnxqOeGqsFpQAYQ7wNifiya+aFyGegG3ABiDii/FYjvAPEuNEP4oWJ3oGoYoHpuMP6HJEVBIP4AlWAG4kVArALE14D4BxAbQTXHAfFfqDoBIH7P8B8CBEDmIGFmIF4KlXsOZTOjqQHp+Y/NBQxILjkCpS2RbGZAdgG+vPAXqhEvYEEyjVQgADMAFLr3yUxHuwACDADbOFi53Gv0LwAAAABJRU5ErkJggg==);
	margin-left: 5px;
}
.ipccpc .fl {
	width: 49%;
}
.ipccpc .fr {
	width: 49%;
}
@media screen and (max-width: 640px) {
.ipccpc .fl {
		width: 100%;
		float: none !important;
}
.ipccpc .fr {
		width: 100%;
		float: none !important;
		margin-top: 20px;
}
.btn.fr {
		float: none;
		margin-top: 0 !important;
}
.ipcYear {
		margin-top: 10px;
}
.ipcYear ul li {
		width: 100%;
}
.ipcYear ul li .btn {
		width: 100%;
}
}

